In [4]:
import pandas as pd
df = pd.read_excel('Datasets/amazon.com-organic.Pages.xlsx')

In [15]:
df.head()

,URL,Traffic (%),Number of Keywords,Traffic,Adwords Positions
0,https://www.amazon.com/,8.38,21682,101554318,11823
1,https://www.amazon.com/gp/prime,1.72,1239,20910881,20
2,http://www.amazon.com/,0.42,668,5109698,0
3,https://smile.amazon.com/,0.27,3515,3288594,32
4,https://www.amazon.com/gp/help/customer/displa...,0.12,480,1472143,0

In [16]:
df.tail()

,URL,Traffic (%),Number of Keywords,Traffic,Adwords Positions
9995,https://www.amazon.com/paint-sprayers/b?node=4...,0.0,330,9847,0
9996,https://www.amazon.com/Fun-World-Costumes-Wome...,0.0,90,9847,0
9997,https://www.amazon.com/Grey-Mens-Hoodie/s?k=Gr...,0.0,67,9847,0
9998,https://www.amazon.com/King-Candy-Crush-Saga/d...,0.0,1456,9847,0
9999,https://www.amazon.com/u%C3%B1as-postizas/s?k=...,0.0,6,9845,0

In [9]:
df.keys()

Index(['URL', 'Traffic (%)', 'Number of Keywords', 'Traffic',
       'Adwords Positions'],
      dtype='object')

In [19]:
df=df[df['Traffic']>30000]

In [21]:
df.tail()

,URL,Traffic (%),Number of Keywords,Traffic,Adwords Positions
1765,https://www.amazon.com/camera/s?k=camera,0.0,23,30047,1
1766,https://www.amazon.com/stores/PartyCity/PartyC...,0.0,431,30044,0
1767,https://www.amazon.com/Womens-Pajama-Bottoms/b...,0.0,281,30025,0
1768,https://www.amazon.com/paint-pens/s?k=paint+pens,0.0,27,30021,2
1769,https://www.amazon.com/teddy-bear/s?k=teddy+bear,0.0,98,30020,0

In [23]:
df.to_excel (r'Datasets/Amazon-organic.Pages.xlsx', index = False, header=True)